<head>
  <!-- End Google Analytics -->
  <meta charset="UTF-8">
  <meta http-equiv="Expires" content="600" />
  <meta propery="og:type" content="website" />
  <meta property="og:url" content="{{site.url}}" />
  <meta property="og:title" content="Bhupendra Negi" />
  <meta property="og:description" content="Check out all the exciting projects I'm working on!" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link rel="shortcut icon" type="image/jpg" href="/assets/images/Bhupendra_B_dark.png" style="background-color:white;">
  <title>{{site.title}}</title>
  {% include scripts.html %}
  {% include analytics.html %}
</head>
