/* Full height image header */

.blog-bar .blog-button {
  padding: 16px;
}

.blog-icon {
  float: left;
  max-width: 5%;
  border-radius: 50%;
  margin: 5px 10px 5px 100px;
  @include mobile {
    float: none;
    max-width: 20%;
    display: block;
    margin: 0 auto;
  }
}

.blog-info {
  float: left;
  @include mobile {
    float: none;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
}

.blog-name {
  margin: 10px 0 0 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 1px;
  a {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    &:hover,
    &:active {
        text-decoration: underline;
    }
  }
}

.blog-description {
  margin: -5px 0 0 0;
  font-size: 16px;
  font-weight: 500;
  @include mobile {
    margin: 3px 0;
    text-align: center;
  }
}

.blog-text-small {
  font-size: 0.8rem;
}

.blog-no-underline {
  text-decoration: none;
}