<!DOCTYPE html>
<html>
<title> Bhupendra Negi</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      font-family: "Raleway", sans-serif
  }
  
  body,
  html {
      height: 100%;
      line-height: 1.8;
  }
  /* Full height image header */
  
  .homecover {
      background-position: center;
      background-size: cover;
      background-image: linear-gradient(black, white);
      min-height: 100%;
  }
  
  .blog-bar .blog-button {
      padding: 16px;
  }
</style>

<body>

    <!-- Navbar (sit on top) -->
    <div class="blog-top">
        <div class="blog-bar blog-white blog-card" id="myNavbar">
            <a href="{{ site.baseurl }}/"><img class="blog-image" src="{{ site.baseurl }}/images/bhupendra.png" /></a>
            <div class="blog-info">
                <h1><a href="{{ site.baseurl }}/" class="blog-name">{{ site.name }}</a></h1>
                <p class="blog-description">{{ site.description }}</p>
            </div>


            <!-- Right-sided navbar links -->
            <div class="blog-right blog-hide-small">
                <a href="#about" class="blog-bar-item blog-button">ABOUT</a>
                <a href="#team" class="blog-bar-item blog-button"><i class="fa fa-user"></i> TEAM</a>
                <a href="#work" class="blog-bar-item blog-button"><i class="fa fa-th"></i> WORK</a>
                <a href="#pricing" class="blog-bar-item blog-button"><i class="fa fa-usd"></i> PRICING</a>
                <a href="#contact" class="blog-bar-item blog-button"><i class="fa fa-envelope"></i> CONTACT</a>
            </div>
            <!-- Hide right-floated links on small screens and replace them with a menu icon -->

            <a href="javascript:void(0)" class="blog-bar-item blog-button blog-right blog-hide-large blog-hide-medium" onclick="blog_open()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>

    <!-- Sidebar on small screens when clicking the menu icon -->
    <nav class="blog-sidebar blog-bar-block blog-black blog-card blog-animate-left blog-hide-medium blog-hide-large" style="display:none" id="mySidebar">
        <a href="javascript:void(0)" onclick="blog_close()" class="blog-bar-item blog-button blog-large blog-padding-16">Close ×</a>
        <a href="#about" onclick="blog_close()" class="blog-bar-item blog-button">ABOUT</a>
        <a href="#team" onclick="blog_close()" class="blog-bar-item blog-button">TEAM</a>
        <a href="#work" onclick="blog_close()" class="blog-bar-item blog-button">WORK</a>
        <a href="#pricing" onclick="blog_close()" class="blog-bar-item blog-button">PRICING</a>
        <a href="#contact" onclick="blog_close()" class="blog-bar-item blog-button">CONTACT</a>
    </nav>

    <!-- Header with full-height image -->
    <header class="homecover blog-display-container blog-grayscale-min" id="home">
        <div class="blog-display-left blog-text-white" style="padding:48px">
            <span class="blog-jumbo blog-hide-small">Hi there, I'm Bhupendra</span><br>
            <span class="blog-xxlarge blog-hide-large blog-hide-medium">Hi there, I'm Bhupendra</span><br>
            <span class="blog-large">This is my Ruby on Rails Blogs</span>
            <p><a href="#about" class="blog-button blog-white blog-padding-large blog-large blog-margin-top blog-opacity blog-hover-opacity-off">Learn more</a></p>
        </div>
        <div class="blog-display-bottomleft blog-text-grey blog-large" style="padding:24px 48px">
            <i class="fa fa-facebook-official blog-hover-opacity"></i>
            <i class="fa fa-instagram blog-hover-opacity"></i>
            <i class="fa fa-snapchat blog-hover-opacity"></i>
            <i class="fa fa-pinterest-p blog-hover-opacity"></i>
            <i class="fa fa-twitter blog-hover-opacity"></i>
            <i class="fa fa-linkedin blog-hover-opacity"></i>
        </div>
    </header>

    <!-- About Section -->
    <div class="blog-container" style="padding:128px 16px" id="about">
        <h3 class="blog-center">ABOUT</h3>
        <p class="blog-center blog-large">Key features</p>
        <div class="blog-row-padding blog-center" style="margin-top:64px">
            <div class="blog-quarter">
                <i class="fa fa-desktop blog-margin-bottom blog-jumbo blog-center"></i>
                <p class="blog-large">Responsive</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            </div>
            <div class="blog-quarter">
                <i class="fa fa-heart blog-margin-bottom blog-jumbo"></i>
                <p class="blog-large">Passion</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            </div>
            <div class="blog-quarter">
                <i class="fa fa-diamond blog-margin-bottom blog-jumbo"></i>
                <p class="blog-large">Design</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            </div>
            <div class="blog-quarter">
                <i class="fa fa-cog blog-margin-bottom blog-jumbo"></i>
                <p class="blog-large">Support</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            </div>
        </div>
    </div>

    <!-- Promo Section - "We know design" -->
    <div class="blog-container blog-light-grey" style="padding:128px 16px">
        <div class="blog-row-padding">
            <div class="blog-col m6">
                <h3>We know design.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore.</p>
                <p><a href="#work" class="blog-button blog-black"><i class="fa fa-th"> </i> View Our Works</a></p>
            </div>
            <div class="blog-col m6">
<!--                 <img class="blog-image blog-round-large" src="/blogimages/phone_buildings.jpg" alt="Buildings" width="700" height="394"> -->
            </div>
        </div>
    </div>

    <!-- Team Section -->
    <div class="blog-container" style="padding:128px 16px" id="team">
        <h3 class="blog-center">THE TEAM</h3>
        <p class="blog-center blog-large">The ones who runs this company</p>
        <div class="blog-row-padding blog-grayscale" style="margin-top:64px">
            <div class="blog-col l3 m6 blog-margin-bottom">
                <div class="blog-card">
<!--                     <img src="/blogimages/team2.jpg" alt="John" style="width:100%">
 -->                    <div class="blog-container">
                        <h3>John Doe</h3>
                        <p class="blog-opacity">CEO & Founder</p>
                        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                        <p><button class="blog-button blog-light-grey blog-block"><i class="fa fa-envelope"></i> Contact</button></p>
                    </div>
                </div>
            </div>
            <div class="blog-col l3 m6 blog-margin-bottom">
                <div class="blog-card">
<!--                     <img src="/blogimages/team1.jpg" alt="Jane" style="width:100%">
 -->                    <div class="blog-container">
                        <h3>Anja Doe</h3>
                        <p class="blog-opacity">Art Director</p>
                        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                        <p><button class="blog-button blog-light-grey blog-block"><i class="fa fa-envelope"></i> Contact</button></p>
                    </div>
                </div>
            </div>
            <div class="blog-col l3 m6 blog-margin-bottom">
                <div class="blog-card">
<!--                     <img src="/blogimages/team3.jpg" alt="Mike" style="width:100%">
 -->                    <div class="blog-container">
                        <h3>Mike Ross</h3>
                        <p class="blog-opacity">Web Designer</p>
                        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                        <p><button class="blog-button blog-light-grey blog-block"><i class="fa fa-envelope"></i> Contact</button></p>
                    </div>
                </div>
            </div>
            <div class="blog-col l3 m6 blog-margin-bottom">
                <div class="blog-card">
<!--                     <img src="/blogimages/team4.jpg" alt="Dan" style="width:100%">
 -->                    <div class="blog-container">
                        <h3>Dan Star</h3>
                        <p class="blog-opacity">Designer</p>
                        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                        <p><button class="blog-button blog-light-grey blog-block"><i class="fa fa-envelope"></i> Contact</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Promo Section "Statistics" -->
    <div class="blog-container blog-row blog-center blog-dark-grey blog-padding-64">
        <div class="blog-quarter">
            <span class="blog-xxlarge">14+</span>
            <br>Partners
        </div>
        <div class="blog-quarter">
            <span class="blog-xxlarge">55+</span>
            <br>Projects Done
        </div>
        <div class="blog-quarter">
            <span class="blog-xxlarge">89+</span>
            <br>Happy Clients
        </div>
        <div class="blog-quarter">
            <span class="blog-xxlarge">150+</span>
            <br>Meetings
        </div>
    </div>

    <!-- Work Section -->
    <div class="blog-container" style="padding:128px 16px" id="work">
        <h3 class="blog-center">OUR WORK</h3>
        <p class="blog-center blog-large">What we've done for people</p>

        <div class="blog-row-padding" style="margin-top:64px">
            <div class="blog-col l3 m6">
<!--                 <img src="/blogimages/tech_mic.jpg" style="width:100%" onclick="onClick(this)" class="blog-hover-opacity" alt="A microphone">
 -->            </div>
            <div class="blog-col l3 m6">
<!--                 <img src="/blogimages/tech_phone.jpg" style="width:100%" onclick="onClick(this)" class="blog-hover-opacity" alt="A phone">
 -->            </div>
            <div class="blog-col l3 m6">
<!--                 <img src="/blogimages/tech_drone.jpg" style="width:100%" onclick="onClick(this)" class="blog-hover-opacity" alt="A drone">
 -->            </div>
            <div class="blog-col l3 m6">
<!--                 <img src="/blogimages/tech_sound.jpg" style="width:100%" onclick="onClick(this)" class="blog-hover-opacity" alt="Soundbox">
 -->            </div>
        </div>

        <div class="blog-row-padding blog-section">
            <div class="blog-col l3 m6">
<!--                 <img src="/blogimages/tech_tablet.jpg" style="width:100%" onclick="onClick(this)" class="blog-hover-opacity" alt="A tablet">
 -->            </div>
            <div class="blog-col l3 m6">
<!--                 <img src="/blogimages/tech_camera.jpg" style="width:100%" onclick="onClick(this)" class="blog-hover-opacity" alt="A camera">
 -->            </div>
            <div class="blog-col l3 m6">
<!--                 <img src="/blogimages/tech_typewriter.jpg" style="width:100%" onclick="onClick(this)" class="blog-hover-opacity" alt="A typewriter">
 -->            </div>
            <div class="blog-col l3 m6">
<!--                 <img src="/blogimages/tech_tableturner.jpg" style="width:100%" onclick="onClick(this)" class="blog-hover-opacity" alt="A tableturner">
 -->            </div>
        </div>
    </div>

    <!-- Modal for full size images on click-->
    <div id="modal01" class="blog-modal blog-black" onclick="this.style.display='none'">
        <span class="blog-button blog-xxlarge blog-black blog-padding-large blog-display-topright" title="Close Modal Image">×</span>
        <div class="blog-modal-content blog-animate-zoom blog-center blog-transparent blog-padding-64">
            <img id="img01" class="blog-image">
            <p id="caption" class="blog-opacity blog-large"></p>
        </div>
    </div>

    <!-- Skills Section -->
    <div class="blog-container blog-light-grey blog-padding-64">
        <div class="blog-row-padding">
            <div class="blog-col m6">
                <h3>Our Skills.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br> tempor incididunt ut labore et dolore.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br> tempor incididunt ut labore et dolore.</p>
            </div>
            <div class="blog-col m6">
                <p class="blog-wide"><i class="fa fa-camera blog-margin-right"></i>Photography</p>
                <div class="blog-grey">
                    <div class="blog-container blog-dark-grey blog-center" style="width:90%">90%</div>
                </div>
                <p class="blog-wide"><i class="fa fa-desktop blog-margin-right"></i>Web Design</p>
                <div class="blog-grey">
                    <div class="blog-container blog-dark-grey blog-center" style="width:85%">85%</div>
                </div>
                <p class="blog-wide"><i class="fa fa-photo blog-margin-right"></i>Photoshop</p>
                <div class="blog-grey">
                    <div class="blog-container blog-dark-grey blog-center" style="width:75%">75%</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pricing Section -->
    <div class="blog-container blog-center blog-dark-grey" style="padding:128px 16px" id="pricing">
        <h3>PRICING</h3>
        <p class="blog-large">Choose a pricing plan that fits your needs.</p>
        <div class="blog-row-padding" style="margin-top:64px">
            <div class="blog-third blog-section">
                <ul class="blog-ul blog-white blog-hover-shadow">
                    <li class="blog-black blog-xlarge blog-padding-32">Basic</li>
                    <li class="blog-padding-16"><b>10GB</b> Storage</li>
                    <li class="blog-padding-16"><b>10</b> Emails</li>
                    <li class="blog-padding-16"><b>10</b> Domains</li>
                    <li class="blog-padding-16"><b>Endless</b> Support</li>
                    <li class="blog-padding-16">
                        <h2 class="blog-wide">$ 10</h2>
                        <span class="blog-opacity">per month</span>
                    </li>
                    <li class="blog-light-grey blog-padding-24">
                        <button class="blog-button blog-black blog-padding-large">Sign Up</button>
                    </li>
                </ul>
            </div>
            <div class="blog-third">
                <ul class="blog-ul blog-white blog-hover-shadow">
                    <li class="blog-red blog-xlarge blog-padding-48">Pro</li>
                    <li class="blog-padding-16"><b>25GB</b> Storage</li>
                    <li class="blog-padding-16"><b>25</b> Emails</li>
                    <li class="blog-padding-16"><b>25</b> Domains</li>
                    <li class="blog-padding-16"><b>Endless</b> Support</li>
                    <li class="blog-padding-16">
                        <h2 class="blog-wide">$ 25</h2>
                        <span class="blog-opacity">per month</span>
                    </li>
                    <li class="blog-light-grey blog-padding-24">
                        <button class="blog-button blog-black blog-padding-large">Sign Up</button>
                    </li>
                </ul>
            </div>
            <div class="blog-third blog-section">
                <ul class="blog-ul blog-white blog-hover-shadow">
                    <li class="blog-black blog-xlarge blog-padding-32">Premium</li>
                    <li class="blog-padding-16"><b>50GB</b> Storage</li>
                    <li class="blog-padding-16"><b>50</b> Emails</li>
                    <li class="blog-padding-16"><b>50</b> Domains</li>
                    <li class="blog-padding-16"><b>Endless</b> Support</li>
                    <li class="blog-padding-16">
                        <h2 class="blog-wide">$ 50</h2>
                        <span class="blog-opacity">per month</span>
                    </li>
                    <li class="blog-light-grey blog-padding-24">
                        <button class="blog-button blog-black blog-padding-large">Sign Up</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Contact Section -->
    <div class="blog-container blog-light-grey" style="padding:128px 16px" id="contact">
        <h3 class="blog-center">CONTACT</h3>
        <p class="blog-center blog-large">Lets get in touch. Send us a message:</p>
        <div style="margin-top:48px">
            <p><i class="fa fa-map-marker fa-fw blog-xxlarge blog-margin-right"></i> Chicago, US</p>
            <p><i class="fa fa-phone fa-fw blog-xxlarge blog-margin-right"></i> Phone: +00 151515</p>
            <p><i class="fa fa-envelope fa-fw blog-xxlarge blog-margin-right"> </i> Email: mail@mail.com</p>
            <br>
            <form action="/action_page.php" target="_blank">
                <p><input class="blog-input blog-border" type="text" placeholder="Name" required name="Name"></p>
                <p><input class="blog-input blog-border" type="text" placeholder="Email" required name="Email"></p>
                <p><input class="blog-input blog-border" type="text" placeholder="Subject" required name="Subject"></p>
                <p><input class="blog-input blog-border" type="text" placeholder="Message" required name="Message"></p>
                <p>
                    <button class="blog-button blog-black" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
                </p>
            </form>
            <!-- Image of location/map -->
<!--             <img src="/blogimages/map.jpg" class="blog-image blog-greyscale" style="width:100%;margin-top:48px">
 -->        </div>
    </div>

    <!-- Footer -->
    <footer class="blog-center blog-black blog-padding-64">
        <a href="#home" class="blog-button blog-light-grey"><i class="fa fa-arrow-up blog-margin-right"></i>To the top</a>
        <div class="blog-xlarge blog-section">
            <i class="fa fa-facebook-official blog-hover-opacity"></i>
            <i class="fa fa-instagram blog-hover-opacity"></i>
            <i class="fa fa-snapchat blog-hover-opacity"></i>
            <i class="fa fa-pinterest-p blog-hover-opacity"></i>
            <i class="fa fa-twitter blog-hover-opacity"></i>
            <i class="fa fa-linkedin blog-hover-opacity"></i>
        </div>
    </footer>

    <script>
        // Modal Image Gallery
        function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
            var captionText = document.getElementById("caption");
            captionText.innerHTML = element.alt;
        }


        // Toggle between showing and hiding the sidebar when clicking the menu icon
        var mySidebar = document.getElementById("mySidebar");

        function blog_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
            } else {
                mySidebar.style.display = 'block';
            }
        }

        // Close the sidebar with the close button
        function blog_close() {
            mySidebar.style.display = "none";
        }
    </script>

</body>

</html>