<!DOCTYPE html>
<html>
<title> Bhupendra Negi</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="blog-top">
    <div class="blog-bar blog-white blog-card" id="myNavbar">
      <a href="{{ site.baseurl }}/"><img class="blog-icon" src="{{ site.baseurl }}/images/bhupendra.png" /></a>
      <div class="blog-info">
        <h1 class="blog-name"><a href="{{ site.baseurl }}/" >{{ site.name }}</a></h1>
        <p class="blog-description">{{ site.description }}</p>
      </div>
      <div class="blog-right blog-hide-small">
        <a href="#about" class="blog-bar-item blog-button">ABOUT</a>
        <a href="#team" class="blog-bar-item blog-button"><i class="fa fa-user"></i> TEAM</a>
        <a href="#work" class="blog-bar-item blog-button"><i class="fa fa-th"></i> WORK</a>
        <a href="#pricing" class="blog-bar-item blog-button"><i class="fa fa-usd"></i> PRICING</a>
        <a href="#contact" class="blog-bar-item blog-button"><i class="fa fa-envelope"></i> CONTACT</a>
      </div>
      <a href="javascript:void(0)" class="blog-bar-item blog-button blog-right blog-hide-large blog-hide-medium" onclick="blog_open()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>

  <nav class="blog-sidebar blog-bar-block blog-black blog-card blog-animate-left blog-hide-medium blog-hide-large" style="display:none" id="mySidebar">
    <a href="javascript:void(0)" onclick="blog_close()" class="blog-bar-item blog-button blog-large blog-padding-16">Close ×</a>
    <a href="#about" onclick="blog_close()" class="blog-bar-item blog-button">ABOUT</a>
    <a href="#team" onclick="blog_close()" class="blog-bar-item blog-button">TEAM</a>
    <a href="#work" onclick="blog_close()" class="blog-bar-item blog-button">WORK</a>
    <a href="#pricing" onclick="blog_close()" class="blog-bar-item blog-button">PRICING</a>
    <a href="#contact" onclick="blog_close()" class="blog-bar-item blog-button">CONTACT</a>
  </nav>

  <div id="main" role="main" class="container">
    {{ content }}
  </div>

  <!-- Footer -->
  <footer class="blog-center blog-black blog-padding-64">
    <a href="#home" class="blog-button blog-light-grey"><i class="fa fa-arrow-up blog-margin-right"></i>To the top</a>
    <div class="blog-xlarge blog-section">
      <i class="fa fa-facebook-official blog-hover-opacity"></i>
      <i class="fa fa-instagram blog-hover-opacity"></i>
      <i class="fa fa-snapchat blog-hover-opacity"></i>
      <i class="fa fa-pinterest-p blog-hover-opacity"></i>
      <i class="fa fa-twitter blog-hover-opacity"></i>
      <i class="fa fa-linkedin blog-hover-opacity"></i>
    </div>
  </footer>

  <script>
    const mySidebar = document.getElementById("mySidebar");
    function blog_open() {
      if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
      } else {
        mySidebar.style.display = 'block';
      }
    }

    function blog_close() {
      mySidebar.style.display = "none";
    }
  </script>

</body>
</html>