---
layout: site_layout
comments: true
---


<article class="post">
  <header class="post-header">
    <h3 class="big_heading">{{ page.title }}</h3>
    <a href="/blog" class="site-button post-back-link" aria-label="Back to blog">Back</a>
  </header>

  <div class="date">
    {{ page.date | date: "%B %e, %Y" }}
  </div>
  <div class="entry">
    {{ content }}
    <p class="post-footer">Thanks for reading!! Do let me know if you have any comments and feedback.</p>
  </div>
  {% include disqus.html %}
  <div class="projects-bottom text-center">
    <div class="page-actions">
      <a href="/blog" class="site-button">More Blogs</a>
      <button type="button" class="fill" id="scroll-top" title="scroll back top" name="button">Scroll Back Top</button>
    </div>
  </div>
</article>
